better-kitchen/n8n-workflow.json
{
  "name": "Better Kitchen — Daily Recipe Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 7am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=You are an expert functional medicine nutritionist and home chef for Better Kitchen (betterkitchen.ai) — an AI-powered recipe platform specialising in MCAS (Mast Cell Activation Syndrome), Hereditary Alpha Tryptasemia (HAT), Histamine Intolerance, migraine, and systemic inflammation.\n\nGenerate ONE new recipe that is STRICTLY safe for MCAS and histamine intolerance.\n\nCRITICAL RULES:\n- NO fermented foods (no vinegar, soy sauce, miso, tempeh, sauerkraut, kimchi, kefir, yogurt)\n- NO aged, cured, smoked, or processed meats\n- NO alcohol or vanilla extract (use vanilla powder)\n- NO leftovers — only fresh-cooked food\n- NO tomatoes, spinach, eggplant, avocado (high histamine)\n- NO citrus except small amounts of fresh lemon\n- NO dried fruits, canned fish, or canned legumes\n- NO nuts except macadamia (others are histamine liberators)\n- NO chocolate or cocoa\n- ALWAYS use fresh, whole ingredients\n- PREFER DAO-boosting foods: pea sprouts, lentil sprouts, fresh herbs\n- PREFER mast cell stabilisers: quercetin (onion, apple), luteolin (celery, thyme), rosmarinic acid (basil, rosemary)\n- PREFER anti-inflammatory: turmeric+pepper, omega-3 sources, sulforaphane foods\n\nToday's focus: {{ $json.focus || 'gut healing and DAO support' }}\n\nRespond ONLY with a valid JSON object — no preamble, no markdown fences, no explanation. Use this exact schema:\n{\n  \"title\": \"string\",\n  \"emoji\": \"single emoji\",\n  \"category\": \"one of: DAO Boosting | Mast Cell Stabilizing | Migraine Prevention | Gut Healing | Anti-Inflammatory\",\n  \"tags\": [\"array of relevant tags from: DAO Boosting, Mast Cell Stabilizing, Anti-Inflammatory, Migraine Prevention, Gut Healing, Low Histamine, NRF2 Activation, Nervous System Support\"],\n  \"prepTime\": \"string e.g. 20 min\",\n  \"serves\": number,\n  \"safetyLevel\": \"Very Safe\",\n  \"description\": \"2-3 sentence description explaining the functional medicine rationale\",\n  \"ingredients\": [\"array of ingredient strings\"],\n  \"method\": [\"array of step strings\"],\n  \"functionalMarkers\": [\n    { \"label\": \"string\", \"detail\": \"clinical explanation string\", \"icon\": \"emoji\" }\n  ],\n  \"avoidNote\": \"string — what to avoid or substitute and why\"\n}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "id": "claude-generate",
      "name": "Claude — Generate Recipe",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [480, 300],
      "credentials": {
        "anthropicApi": {
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the text content from Claude's response\nconst content = $input.first().json.content;\nlet text = '';\nif (Array.isArray(content)) {\n  text = content.map(c => c.text || '').join('');\n} else {\n  text = String(content);\n}\n\n// Strip any accidental markdown fences\ntext = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet recipe;\ntry {\n  recipe = JSON.parse(text);\n} catch(e) {\n  throw new Error('Claude returned invalid JSON: ' + text.substring(0, 200));\n}\n\n// Validate required fields\nconst required = ['title','emoji','category','tags','description','ingredients','method','functionalMarkers'];\nfor (const f of required) {\n  if (!recipe[f]) throw new Error(`Missing field: ${f}`);\n}\n\nreturn [{ json: recipe }];"
      },
      "id": "parse-json",
      "name": "Parse & Validate JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_OWNER }}/{{ $env.GITHUB_REPO }}/contents/data/recipes.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "github-get",
      "name": "GitHub — Get Current recipes.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Decode existing file from base64\nconst fileData  = $('GitHub — Get Current recipes.json').first().json;\nconst sha       = fileData.sha;\nconst existing  = JSON.parse(Buffer.from(fileData.content.replace(/\\n/g,''), 'base64').toString('utf-8'));\n\n// Add new recipe with id and date\nconst newRecipe = $('Parse & Validate JSON').first().json;\nconst recipe = {\n  id: existing.length + 1,\n  dateAdded: new Date().toISOString().split('T')[0],\n  ...newRecipe\n};\nexisting.push(recipe);\n\n// Encode updated array back to base64\nconst updated = Buffer.from(JSON.stringify(existing, null, 2)).toString('base64');\n\nreturn [{ json: { sha, updatedBase64: updated, recipe } }];"
      },
      "id": "build-update",
      "name": "Build Updated File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_OWNER }}/{{ $env.GITHUB_REPO }}/contents/data/recipes.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=chore: add recipe — {{ $json.recipe.title }} ({{ new Date().toISOString().split('T')[0] }})"
            },
            {
              "name": "content",
              "value": "={{ $json.updatedBase64 }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "id": "github-push",
      "name": "GitHub — Push Updated File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.commit?.sha }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Commit Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "jsCode": "const recipe = $('Build Updated File').first().json.recipe;\nconsole.log(`✅ Recipe published: ${recipe.title} (id ${recipe.id}) on ${recipe.dateAdded}`);\nreturn [{ json: { status: 'published', title: recipe.title, date: recipe.dateAdded } }];"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 200]
    },
    {
      "parameters": {
        "jsCode": "console.error('❌ GitHub push failed — check token and repo name');\nreturn [{ json: { status: 'error', message: 'GitHub push failed' } }];"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 420]
    }
  ],
  "connections": {
    "Daily 7am Trigger": {
      "main": [[{ "node": "Claude — Generate Recipe", "type": "main", "index": 0 }]]
    },
    "Claude — Generate Recipe": {
      "main": [[{ "node": "Parse & Validate JSON", "type": "main", "index": 0 }]]
    },
    "Parse & Validate JSON": {
      "main": [[{ "node": "GitHub — Get Current recipes.json", "type": "main", "index": 0 }]]
    },
    "GitHub — Get Current recipes.json": {
      "main": [[{ "node": "Build Updated File", "type": "main", "index": 0 }]]
    },
    "Build Updated File": {
      "main": [[{ "node": "GitHub — Push Updated File", "type": "main", "index": 0 }]]
    },
    "GitHub — Push Updated File": {
      "main": [[{ "node": "Commit Succeeded?", "type": "main", "index": 0 }]]
    },
    "Commit Succeeded?": {
      "main": [
        [{ "node": "Log Success", "type": "main", "index": 0 }],
        [{ "node": "Log Error",   "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
